
  .job-listing-page {
    display: flex;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .sidebar-container-filter {
    margin: 0;
    padding: 0;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:30px;
  }
  
  
  .job-listings-container {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    align-items: stretch;
  }
  
  .jobs-header {
    /* margin-bottom: 5px; */
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2px;
  }

  .scrollable-div{
    max-height: 550px;
  }
  
  .job-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    max-height: 100%;
    overflow-y: auto;
    width:800px; 
  }
  

  