.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2A288C; /* Your blue background color */
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    height: 40px; /* Adjust logo size */
    margin-right: 10px;
  }
  
  .navbar-brand {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-center{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    list-style: none;
    font-size: 20px;
    color: #626262;
    font-weight: 500;
  }

  .navbar-center ul li{
    /* display: flex;
    align-items: center;
    gap: 3px;
    flex-direction: column;
    justify-content: center; */
    cursor: pointer;
  }
  
  .navbar-link {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
  }
  
  .navbar-link:hover {
    /* text-decoration: underline;
    font-weight: 600; */
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .search-input{
    padding: 5px 10px;
    flex: 90%;
    margin-left: 10px;
    border: none;
    outline: none;
  }

  .search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background: #f9f9f9; ;
  }

  .search-bar .icon{
    color: #626262;
    margin: 0 10px;
    flex: 10%;
  }
  .search-bar .icon:hover{
    cursor: pointer;
  }
  